
/* Base
================================================== */

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  height: 100%;
  background: rgba(63, 59, 87, 1);
  margin: 0;
  padding: 0;
}

body {
  font: 14px/24px "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 2;
  padding: 0;
  margin: 0;
  color: #222;
}

.data table {
  text-align: left;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

.data tr * {
  padding: 7px;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
}

blockquote {
  border-left: 7px solid #ddd;
}

hr {
  margin: 50px 0;
  border: none;
  border-bottom: 1px solid #ddd;
  height: 0px;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 1.8em;
  line-height: 55px;
  border-bottom: 1px solid #ddd;
  margin-top: 55px;
}

h2:before {
  background-color: rgba(63, 59, 87, 1);
  content: '';
  left: -20px;
  top: -30px;
  position: absolute;
  display: block;
  width: 140%;
  height: 30px;
}

h3 {
  font-size: 1.4em;
  line-height: 55px;
}

h2, h3 {
  position: relative;
  height: 55px;
}

p {
  color: #949490;
}

a {
  color: #33aaff;
}

pre, code {
  padding: 5px 10px;
  margin-bottom: 20px;
  overflow: auto;
  font-family: courier;
  background: ghostwhite;
  border: 1px solid #ddd;
}

code {
  padding: 2px 5px;
}

pre code {
  padding: 0;
  margin-bottom: 0;
  border: 0;
}

pre:before,
pre:after {
  content: '';
  display: none;
  width: 100%;
  position: absolute;
  left: 0;
}

pre:before {
  border-top: 1px solid hsla( 0, 0%, 100%, 1 );
  top: 0;
}

pre:after {
  border-top: 1px solid hsla( 0, 0%, 0%, 0.05 );
  bottom: 0px;
}

#content img {
  display: inline-block;
  max-width: 100%;
}

#marked {
  max-width: 900px;
  margin: 0 auto;
  margin-bottom: 200px;
}

.partition {
  background-color: #f5f5f5;
  overflow: hidden;
  padding: 0 20px;
}

.wrap-frame {
  padding: 0px !important;
}

/* wrap
================================================== */

.wrap {
  padding: 10px;
  max-width: 900px;
  margin: 0 auto;
}

/* Hero
================================================== */

#hero {
  background: #eee;
  line-height: 1.2;
  color: #543729;
  padding-bottom: 10px;
  margin-bottom: 30px;
}

#hero .wrap {
  position: relative;
}

#hero .brand {
  text-align: center;
}

#hero h1 {
  display: inline-block;
  font-size: 37px;
  margin: 0;
  line-height: 80px;
  color: #dd1b16;
}

#hero h1,
#hero h3 {
  letter-spacing: -0.04em;
}

#hero .screenshot {
  display: inline-block;
  width: 80px;
  margin: 10px 20px;
  vertical-align: bottom;
}

#hero h3 {
  margin: 0 0  10px;
  font-size: 18px;
  text-align: center;
}

#hero .tagline {
  font-size: 22px;
}

#hero .button {
  display: block;
  background-color: #2BAF2B;
  padding: 10px 15px;;
  font-weight: bold;
  text-decoration: none;
  color: white;
  text-align: center;
  font-size: 16px;
  border-radius: 5px;
  text-shadow: 0 -1px hsla(0, 0%, 0%, 0.4);
  background-image: -webkit-linear-gradient(
    hsla(0, 0%, 100%, 0.1),
    hsla(0, 0%, 100%, 0.0) 50%,
    hsla(0, 0%,   0%, 0.0) 50%,
    hsla(0, 0%,   0%, 0.1)
  );
}

#hero .button:hover {
  background-color: #3C3;
}

/* Footer
================================================== */

.footer {
  display: block;
  text-align: center;
  font-size: 12px;
  border-top: 1px solid ghostwhite;
  padding: 50px 0;
}

/* Media Queries
================================================== */

/* tablet-ish */
@media only screen and (min-width: 580px) {

  #hero {
    padding: 30px 0;
  }

  #hero .wrap {
    padding-left: 250px;
    width: 540px;
  }

  #hero .screenshot {
    display: block;
    position: absolute;
    margin: 0;
    left: 0px;
    top: 40px;
    width: 200px;
  }

  #hero .brand,
  #hero h3 {
    text-align: left;
  }

  #hero .button {
    display: inline-block;
    clear: both;
  }

}

/* desktop-ish*/
@media only screen and (min-width: 920px) {

  #hero {
    padding: 40px 0 60px;
  }

  #hero .wrap {
    padding-left: 350px;
    width: auto;
  }

  #hero .screenshot {
    left: 0px;
    top: 0px;
    width: 280px;
    margin: 0;
  }

  #hero h1 {
    font-size: 70px;
    line-height: 1;
  }

  #hero h3 {
    font-size: 28px;
    margin-bottom: 30px;
  }

  #hero .tagline {
    font-size: 28px;
    line-height: 1;
    margin-top: 15px;
  }

  h1,
  h2,
  h3 {
    position: relative;
  }
}

#i18n {
  width: 100%;
  border: none;
  height: 1000px;
}
